<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Coctails</title>
  <link rel="stylesheet" type="text/css" href="../assets/style.css">
</head>

<body>
  <h1>Coctails</h1>
  <a href="/">ALL</a>
  <% alcoholList.forEach(e => { %>
    <a href="/?alcohol=<%= e %>"">
      <%= e %>
    </a>
  <% }) %>
  <table>
    <thead>
      <tr>
        <th class="name">NAME</th>
        <th>PRICE</th>
      </tr>
    </thead>
    <tbody>
      <% cocktailList.forEach( e=> { %>
      <tr>
        <td>
          <p class="cocktail"><%= e.name %></p>
          <p class="alcohol"><%= e.contains %></p>
        </td>
        <td class="price">
          <%= e.price %> Ft</td>
      </tr>
      <% }) %>
    </tbody>
  </table>


</body>

</html>